
.table-striped tbody tr.odd.selected, .table-striped tbody tr.even.selected {
    background-color: #83bef1;
    color: #FFFFFF;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top:0px solid #E3EBF3;
}
.table-responsive {
    overflow-x:auto;
    overflow-y: hidden;
}
html body a:hover {
    color: #df3f3f;
}
.nav.nav-tabs.nav-top-border .nav-item a {
    color: #0963c2;
}
.nav.nav-tabs.nav-top-border .nav-item a.nav-link.active {
    border-top: 3px solid #0963c2;
}
.center{text-align: center;}
.student-image{
    width: 50px;height: 50px;border-radius: 25%;border:1px solid #d1d2d5;
}
table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
    color:black;
}
table.dataTable tbody tr.selected a:hover, table.dataTable tbody th.selected a:hover, table.dataTable tbody td.selected a:hover {
    color: #df3f3f;
}
div.dataTables_wrapper div.dataTables_length label {
    margin-top: 5px;
    margin-bottom: 0px;
}
@media only screen and (min-width: 1000px){
    .div-image{min-height: 615px;}
}
@media(min-width: 600px){
    div.dataTables_wrapper div.dataTables_filter {
        text-align: right;
        float: left;
        margin-top: -55px;
    }
}

.fc-day-grid-event .fc-content {  
    color: white;
    /* font-size: 18px; */
    text-align: right;
    padding: 3px;
}
.f-1{
    font-size: 18px;;
}
.dark{
    background-color: #2C303B;
    /* opacity: 0.9; */
    color: #fff;
}
.dark > h4{color: #fff;}
.student-image-profile{
    width: 200px;height: 190px;border-radius: 25%;border:1px solid #d1d2d5;
}
.age-display{
    border: 0px;
    width: 30px;
    text-align: center;
    margin: 0 3px;
    color: green;
    font-weight: bold;
}
.select2 {
    width:100%!important;
    }
.sibling-image{
    width: 40px;height: 40px;border-radius: 25%;border:1px solid #d1d2d5;
}
.nav-vertical .nav-left.nav-tabs li.nav-item a.nav-link {
    min-width: 10.5rem;    
}
.nav-vertical .nav-left.nav-tabs.nav-border-left li.nav-item a.nav-link {
    color: #168dee;
}
.nav-vertical .nav-left.nav-tabs.nav-border-left li.nav-item a.nav-link.active {
    border-right: 3px solid #168dee; 
}
.dropdown .dropdown-menu .dropdown-header {
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #168dee;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}